body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    padding: 20px 200px;
}

.logo {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: auto;
}

.hero {
    display: flex;
    padding: 50px 200px;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-img {
    height: 200px;
    width: 500px;
    background-color: grey;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.content {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    flex: 1
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.content-img {
    height: 100px;
    width:100px;
    border: skyblue;
    border-style: solid;
}

.information {
    display: flex;
}

.info {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.quotes {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.thor {
    margin-left:auto;
}

.footer {
    height: 100px;
    border-style: solid;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .hero, .footer {
    background-color: #1F2937
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.sign-box, .sign-up {
    background-color: #3882F6
}